
.containerProjekty {
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  height: calc(100% - 39px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}


.containerProjekty p {
  color: #e6e1e1;
}

.mainProjekty {
  text-align: center;
  color: #e6e1e1;
  display: flex;
  flex-direction: row;
  justify-content: center;
    
}
.containerProjekty .links{
  text-align: center;
}
.containerProjekty .links a{
  padding: 10px;
  margin: 5px;
  background: #e74c3c;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s;
  white-space: nowrap;
  display: inline-block;
  letter-spacing: 1px;

}
.containerProjekty .links a:hover {
  background: #b52d1f;
}


.containerProjekty button{
  padding: 10px;
  background: royalblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
    letter-spacing: 1px;
  white-space: nowrap;


}

.containerProjekty .techs {
  color: #e6e1e1;
  text-align: center;
  display: flex;
}
.containerProjekty .techs .tech {
  margin: 5px;
}

  .monitor {
    position: relative;
    width: 90%;
  }

  .monitor img {
    width: 100%;
    max-width: 350px;
  }

  .monitor .screenShot {
    position: absolute;
    top: 6%;
    left: 5%;
    width: 90%;
    height: 56%;
    border-radius: 5px;
  }


  .monitor .fadeOutfadeIn {
    animation-name: fadeOutfadeIn;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}


@keyframes fadeOutfadeIn {
0% {
        opacity: 1;
    }
    10% {
      opacity: 0;
  }
  50% {
    opacity: 0;
}
60% {
  opacity: 1;
}
    
100% {
    opacity: 1;
}
}
@media (min-width: 600px) {
  .containerProjekty {
    top: 0px;
    left: 0;
    height: 100%;
    width: 70%;
  }
  
  .containerProjekty .nextProject button{
    position: absolute;
    top: 30%;
    left: 90%;
  
  }
  .containerProjekty .links{
    position: absolute;
    top: 70%;
    left: 90%;
  }
}
@media (min-width: 1025px) {
  .containerProjekty {
    top: 0px;
    left: 20%;
    height: 100%;
    width: 70%;
  }
  .containerProjekty p {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .containerProjekty .nextProject button{
    position: absolute;
    top: 30%;
    left: 80%;
  
  }
  .containerProjekty .links{
    position: absolute;
    top: 70%;
    left: 80%;
  }
}